.contenedor {
    margin: 0;
    padding: 0;
   background-color: #dcdcdc;
    min-height: 100vh;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
  }
  
  h2 {
    margin: 0;
    color: #000;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
  }
  
  .form-login {
   color: #000;
    font-size: 13px;
    text-align: center;
    margin-top: 2em;
  }
  
  .form-login{
    background-color: white;
    margin: 0 auto;
    padding: 3em;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 10%;
    box-shadow: 0 2px 15px #6d6e6e;
  }
  
  label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: left;
  }
  
  button {
    background: #ff9e1b;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 15px 60px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
  }
  
  button:hover {
    background-color: #000000;
    transition-duration: 1s;
  }
  
  .copyright{
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 300;
  }
  .footer p  {
    color: #3b3b3b;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    padding: 1em 0;
    text-align: center;
  }