<nz-spin nzTip="Cargando..." [nzSize]="'large'" [nzSpinning]="loading ">
    <div nz-row nzJustify="center">
        <div nz-col [nzXXl]="{span: 22, offset: 0}" [nzSm]="{span: 22, offset: 0}" [nzXs]="{span: 22, offset: 0}"
            class="encabezado">
            <h1>Administrador de suscriptores</h1>
        </div>
        <div nz-col [nzXXl]="{span: 6, offset: 18}" [nzSm]="{span: 8, offset: 16}" style="margin-top: 10px;">
            <div nz-row>
                <div nz-col [nzXXl]="{span: 9, offset: 4}" [nzSm]="{span: 10, offset: 4}">
                    <button type="button" class="btn btn-primary"
                        style="background-color: #ff9e1b;border: 1px solid #ff9e1b;" (click)="onCountries()">Lista de
                        ciudades</button>
                </div>
                <div nz-col [nzXXl]="{span: 6, offset: 2}" [nzSm]="{span: 6, offset: 2}">
                    <button type="button" class="btn btn-primary"
                        style="background-color: #ff9e1b;border: 1px solid #ff9e1b"
                        (click)="onModalSubscribers('Crear')">Agregar</button>
                </div>
            </div>
        </div>
        <div nz-col [nzXXl]="{span: 5, offset: 1}" [nzXs]="{span: 5, offset: 1}" [nzSm]="{span: 5, offset: 1}"
            style="margin-top:20px;">
            <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                <input type="text" nz-input class="form-control" placeholder="Buscador" [(ngModel)]="searchValue"/>
            </nz-input-group>
            <ng-template #suffixButton>
                <button nz-button nzType="primary" nzSize="large" nzSearch (click)="getListSubscribers()">Buscar</button>
            </ng-template>
        </div>

        <div nz-col [nzXXl]="{span: 22, offset: 0}" [nzSm]="{span: 22, offset: 0}" [nzXs]="{span: 22, offset: 0}"
            style="margin-top: 20px;">
            <app-table-subscribers *ngIf="subscribers.length!==0" [subscribers]="subscribers" [total]="total"
                (editar)="onModalSubscribers($event)" (eliminar)="onEliminar($event)"
                (detail)="detailSubscriber($event)"></app-table-subscribers>
        </div>
    </div>
</nz-spin>