<div nz-col [nzXXl]="{span: 24, offset: 0}" [nzXs]="{span: 24, offset: 0}" [nzSm]="{span: 24, offset: 0}"
    style="font-size: 16px;">
    <strong>Name</strong>: {{data.Name}} <br>
    <strong>Email</strong>: {{data.Email}} <br>
    <strong>Phone Number</strong>: {{data.PhoneNumber}} <br>
    <strong>CountryName</strong>: {{data.CountryName}} <br>
    <strong>Area</strong>: {{data.Area}} <br>
    <strong>JobTitle</strong>: {{data.JobTitle}} <br>
    <strong>Subscription State Description</strong>: {{data.SubscriptionStateDescription}} <br>
</div>