<div class="header">
    <div nz-row>
        <p>
            Patatas Subscribers ToGo
        </p>
        <div nz-col nzOffset="21" style="margin-top: -46px" *ngIf="unlogged$ | async">
            <button type="button" class="btn btn-primary" style="background-color: #ff9e1b; border: 1px solid #ff9e1b;"
                (click)="logout()">Cerrar Sesión</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
