<nz-spin nzTip="Cargando..." [nzSize]="'large'" [nzSpinning]="loading ">
<div nz-col [nzXs]="{span: 24, offset: 0}" [nzSm]="{span: 24, offset: 0}">
    <form nz-form [formGroup]="validateForm" >
        <div nz-row>
            <div nz-col [nzXXl]="{span: 11, offset: 0}" [nzSm]="{span: 11, offset: 0}" [nzXs]="{span: 24, offset: 0}">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"><span class="obligatorio">*</span>
                        Nombre</label>
                    <nz-form-item>
                        <nz-form-control style="color: white;" nzHasFeedback [nzErrorTip]="NameErrorTpl">
                            <input nz-input class="form-control" formControlName="Name" type="text" />
                            <ng-template #NameErrorTpl let-control style="color: white;">
                                <ng-container *ngIf="control.hasError('required')">
                                    Debe digitar un nombre
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-col [nzXXl]="{span: 12, offset: 1}" [nzSm]="{span: 12, offset: 1}" [nzXs]="{span: 24, offset: 0}">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"><span class="obligatorio">*</span>
                        Correo electrónico</label>
                    <nz-form-item>
                        <nz-form-control style="color: white;" nzHasFeedback [nzErrorTip]="EmailErrorTpl">
                            <input nz-input class="form-control" formControlName="Email" type="email" />
                            <ng-template #EmailErrorTpl let-control style="color: white;">
                                <ng-container *ngIf="control.hasError('email')">Esto no es un email
                                    válido
                                </ng-container>
                                <ng-container *ngIf="control.hasError('required')">
                                    Debe digitar un email
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
        <div nz-col [nzXXl]="{span: 24, offset: 0}" [nzSm]="{span: 24, offset: 0}" [nzXs]="{span: 24, offset: 0}">
            <div nz-row>
                <div nz-col [nzXXl]="{span: 11, offset: 0}" [nzSm]="{span: 11, offset: 0}"
                    [nzXs]="{span: 24, offset: 0}">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"><span class="obligatorio">*</span>
                            Código del país</label>
                        <nz-form-item>
                            <nz-form-control style="color: white;" nzHasFeedback [nzErrorTip]="CountryCodeErrorTpl">
                                <nz-select nzShowSearch formControlName="CountryCode" nzAllowClear nzSize="large"
                                    nzPlaceHolder="Seleccionar opción" class="form-select">
                                    <nz-option *ngFor="let countrie of countries"
                                        [nzValue]="countrie.Code"
                                        [nzLabel]="countrie.Name">
                                    </nz-option>
                                </nz-select>
                                <ng-template #CountryCodeErrorTpl let-control style="color: white;">
                                    <ng-container *ngIf="control.hasError('required')">
                                        Debe seleccionar código del país
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-col [nzXXl]="{span: 12, offset: 1}" [nzSm]="{span: 12, offset: 1}"
                    [nzXs]="{span: 24, offset: 0}">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"><span class="obligatorio">*</span>
                            Número de télefono</label>
                        <nz-form-item>
                            <nz-form-control style="color: white;" nzHasFeedback [nzErrorTip]="PhoneNumberErrorTpl">
                                <input nz-input class="form-control" formControlName="PhoneNumber" type="text" maxlength="10" />
                                <ng-template #PhoneNumberErrorTpl let-control style="color: white;">
                                    <ng-container *ngIf="control.hasError('required')">
                                        Debe digitar el número de télefono
                                    </ng-container>
                                    <ng-container *ngIf="control.hasError('pattern')">
                                        Solo acepta números, máximo 10
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </div>
        <div nz-col [nzXXl]="{span: 24, offset: 0}" [nzSm]="{span: 24, offset: 0}" [nzXs]="{span: 24, offset: 0}">
            <div nz-row>
                <div nz-col [nzXXl]="{span: 11, offset: 0}" [nzSm]="{span: 11, offset: 0}"
                    [nzXs]="{span: 24, offset: 0}">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"> Título
                            profesional</label>
                        <input nz-input class="form-control" formControlName="JobTitle" id="JobTitle" />
                    </div>
                </div>
                <div nz-col [nzXXl]="{span: 12, offset: 1}" [nzSm]="{span: 12, offset: 1}"
                    [nzXs]="{span: 24, offset: 0}">
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"> Área</label>
                        <input nz-input class="form-control" formControlName="Area" id="Area" />
                    </div>
                </div>
            </div>
        </div>

        <div nz-col [nzXs]="{span: 5, offset: 1}" [nzXXl]="{span: 24, offset:0 }" [nzSm]="{span: 24, offset:0 }">
            <div nz-col nzOffset="20">
                <button type="button" class="btn btn-primary" style="background-color: #1890ff;" (click)="addItem()"
                    [disabled]="!validateForm.valid">Agregar</button>
            </div>
        </div>
        <div nz-col [nzXXl]="{span: 24, offset: 0}" [nzSm]="{span: 24, offset: 0}" [nzXs]="{span: 24, offset: 0}"
            style="margin-top: 10px;">
            <table class="table table-hover" style="border-top: 1px solid #f0f0f0 ;">
                <thead>
                    <tr style="background-color: #fafafa;">
                        <th style="border-right: 1px solid #f0f0f0 ;">Nombre</th>
                        <th style="border-right: 1px solid #f0f0f0 ;">Email</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let list of validateFormEnviar.get('Subscribers')?.value"
                        style="background-color: white;">
                        <td>{{list.Name}}</td>
                        <td>{{list.Email}}</td>
                        <td nzWidth="90px" style="text-align: center;">
                            <button nz-button nzType="primary"
                                style="background-color: #cc140e; border: 1px solid #cc140e;" nzShape="circle"
                                nz-tooltip nzTooltipColor="#cc140e" nzTooltipTitle="Eliminar"
                                (click)="remove(list.nombre)">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</nz-spin>
<!-- 
<pre>{{validateForm.valid}}</pre>
<pre>{{validateForm.value| json}}</pre>
<pre>{{validateFormEnviar.value| json}}</pre>
<pre>{{validateFormEnviar.valid}}</pre> -->