.form-label{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
  }
  .obligatorio{
    color: red;
  }
  
  span{
    font-size: 16px
  }
  
  nz-select{
    text-align: left;
  }
  .formControl{
    text-align: left;
  }